html {
    color: white;
}

body {
    background-color: rgb(15, 15, 15);
}

header h1 {
    box-sizing: inline;
}

.quarter-finals input, .semi-finals input, .final input {
    width:20px;
}

header a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px
}

#shuffleBtn {
    background-color: orangered;
    border: 0px;
}

.qFinals-match, .semiFinals-match, .final-match {
    display: inline-block;
    position: relative;
    width: 20%;
    border: 2px solid white;
}

.quarter-finals, .semi-finals, .final {
    display: flex;
    justify-content: center;
}